<!-- String Interpolation -->
<h1>
    Welcome {{dynamicName}} to angular learning.
</h1>

<!-- Expression Interpolation -->
<h3>
    {{10 * 4}}
    {{100 + 76}}

    <br>

<!-- string concatenation -->
    {{"welcome " + dynamicName}}

    <br>

<!-- Javasript's builtin methods and property -->
    {{dynamicName.length}}  <!-- Property -->
    {{dynamicName.toUpperCase()}}  <!-- Method -->

    <br>

<!-- Custom function or method -->
    {{customFunction()}}

    <br>

    My app status is {{appStatus ? "Online" : "Offline"}}
    <br>
    My app status is = {{appStatus ? status1 : status2}}
</h3>